* {
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

body {
  background-color: #212121;
}

/* Header */

header {
  width: 100%;
  background: #000;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

header p {
  font-size: 18px;
}

nav a {
  text-decoration: none;
  color: #fff;
  margin-left: 10px;
  border-bottom: 1px solid rgba(255, 255, 255, 0);
  transition: 0.5s;
}

nav a:hover {
  border-bottom: 1px solid rgba(255, 255, 255, 1);
}

/* Landing Page */

h2 {
  color: #fff;
  text-align: center;
  font-size: 72px;
}

h2 span {
  color: rgb(140, 82, 181);
  font-size: 84px;
  border-bottom: 12px solid#fff;
}

section.landing {
  width: 80%;
  margin: auto;
}

section.landing h3 {
  font-size: 34px;
  margin-bottom: 50px;
}

section.security {
  color: #fff;
  margin-top: 100px;
}

section.security .container {
  display: flex;
  justify-content: space-between;
}

section.security .container .feature {
  width: 30%;
  line-height: 24px;
}

section.security .container .feature h3 {
  font-size: 24px;
}

section.security .container .feature img {
  width: 50px;
}
/* Services */

.services .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 80%;
  margin: auto;
}

.services .container .product {
  width: 300px;
  margin: 20px;
  padding: 10px 40px;
  background: rgb(140, 82, 181);
  border: 3px solid rgba(255, 255, 255, 0);
  border-radius: 10px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  color: #f5f5f5;
  transition: 0.3s;
}

.services .container .product:hover {
  border: 3px solid rgba(255, 255, 255, 1);
}

.services .container .product a {
  text-decoration: none;
  color: rgb(140, 82, 181);
  background: #fff;
  border: 2px solid rgba(255, 255, 255, 0);
  padding: 15px;
  border-radius: 15px;
  margin: 30px auto;
  font-weight: 700;
  transition: 0.3s;
}

.services .container .product a:hover {
  border: 2px solid rgba(255, 255, 255, 1);
  color: #fff;
  background: rgb(140, 82, 181);
}

.product h3 {
  font-size: 28px;
}

.product p {
  line-height: 24px;
  text-align: justify;
}

.product img {
  width: 200px;
  display: block;
  margin: auto;
  align-self: flex-end;
}

div#ufer_gold {
  background: #000;
}

div#ufer_gold:hover {
  border: 3px solid rgba(215, 185, 34, 1);
}

div#ufer_gold a {
  color: rgb(215, 185, 34);
}

div#ufer_gold a:hover {
  color: #fff;
  background: rgb(215, 185, 34);
}

div#ufer_gold h3 {
  color: rgb(215, 185, 34);
}

/* Página de producto */

section.product {
  margin: auto;
  display: flex;
  width: 80%;
  justify-content: space-between;
  padding: 40px;
  color: #fff;
}

section.product img {
  width: 60%;
}

section.product .content {
  background: rgb(140, 82, 181);
  width: 30%;
  padding: 20px;
  border-radius: 10px;
}

section.product .content h3 {
  display: inline;
  font-size: 26px;
  border-bottom: 2px solid #fff;
}

section.product .content h4 {
  text-align: center;
}

section.product .content h5 {
  font-size: 16px;
}

section.product .content p,
section.product .content li {
  font-size: 14px;
}

section#ufer_gold .content {
  background: #000;
}

section#ufer_gold .content h3 {
  color: rgb(215, 185, 34);
  border-bottom: 2px solid rgb(215, 185, 34);
}

/* Footer */
footer {
  bottom: 0;
  width: 100%;
  padding: 20px;
  background: rgb(140, 82, 181);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer .social i {
  margin-left: 14px;
  color: #fff;
  font-size: 28px;
}
footer img {
  width: 150px;
}

footer p {
  color: #fff;
  text-align: center;
  font-size: 14px;
}
